[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/matplotplusplus"]
	path = thirdparty/matplotplusplus
	url = git@github.com:alandefreitas/matplotplusplus.git
[submodule "thirdparty/VORTEX"]
	path = thirdparty/VORTEX
	url = git@github.com:kursatyurt/VORTEX.git
